* {

    font-family: 'Rubik', sans-serif;
    user-select: none;

}

video {
    background-color: black; 
    width: 100%; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    z-index: 10;
}

.message {

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    color: #fff;
    text-align: center;

}

.message .title {

    font-size: 60px;
    font-weight: 900;

}

.message .subtitle {

    font-size: 20px;
    font-weight: 500;

}

.message .button {

    width: 200px;
    margin: 50px auto 0px auto;
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px;
    padding: 15px 0px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;

}

.message .button:hover {

    background-color: rgba(255,255,255,0.15);
    cursor: pointer;

}

.message .button:active {

    background-color: rgba(255,255,255,255,0.1);
    transform: translateY(1px);

}

.widgets {

    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 11;

}

.widgets .widget {

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;

    
}

.widgets .widget .day-name {

    --letter-spacing: 60px;
        
    font-family: 'Anurati Regular';
    font-weight: normal;
    font-style: normal;
    font-size: 86px;
    letter-spacing: var(--letter-spacing);
    text-align: center;
    padding: 0px 0px 0px calc(var(--letter-spacing) / 2);
    text-transform: uppercase;

}

.widgets .widget .date {

    --letter-spacing: 12px;

    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 32px 0px 0px 0px;
    white-space: pre;
    letter-spacing: var(--letter-spacing);
    padding: 0px 0px 0px calc(var(--letter-spacing) / 2);

}

.widgets .widget .time {

    --letter-spacing: 10px;

    font-size: 18px;
    font-weight: 600;
    margin: 32px 0px 0px 0px;
    text-transform: uppercase;
    white-space: pre;
    letter-spacing: var(--letter-spacing);
    padding: 0px 0px 0px calc(var(--letter-spacing) / 2);

}