* {

    font-family: Arial, Helvetica, sans-serif;
    user-select: none;

}

video {
    background-color: black; 
    width: 100%; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    z-index: 10;
}

.message {

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    color: #fff;
    text-align: center;

}

.message .title {

    font-size: 60px;
    font-weight: 900;

}

.message .subtitle {

    font-size: 20px;
    font-weight: 500;

}

.message .button {

    width: 200px;
    margin: 50px auto 0px auto;
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px;
    padding: 15px 0px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;

}

.message .button:hover {

    background-color: rgba(255,255,255,0.15);
    cursor: pointer;

}

.message .button:active {

    background-color: rgba(255,255,255,255,0.1);
    transform: translateY(1px);

}
